<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
    <title>Data Horror Escape Room</title>
    <link rel="icon" type="image/svg+xml" href="{{ "icon.svg" | relURL }}">
    {{ with resources.Get "style.css" -}}
        {{ with . | fingerprint -}}
            <link rel="stylesheet" type="text/css" href="{{ .RelPermalink }}">
        {{- end }}
    {{- end }}
</head>
<body>
    <header>
        <div class="container">
            <a class="brand" href="{{ "" | relURL }}" rel="home">Data Horror Escape Room</a>
            <nav>
                <a href="{{ "" | relURL }}">Home</a>
                <a href="{{ "guide" | relURL }}">Facilitator's guide</a>
                <a href="{{ "about" | relURL }}">About this website</a>
            </nav>
        </div>
    </header>
    <div>
        {{- if .Params.Banner }}
            <figure class="banner">
                <img src="{{ .Params.Banner | relURL }}" alt="">
                {{ if .Params.BannerAttribution -}}
                    <figcaption>
                        © <a href="{{ .Params.BannerAttributionLink }}">{{ .Params.BannerAttribution }}</a>
                    </figcaption>
                {{- end }}
            </figure>
        {{- end }}
        <main class="container">
            {{- block "main" . -}}{{- end -}}

            <ul class="paths">
                {{ range .Params.Paths -}}
                    <li><a href="{{ .url | relURL }}" {{- if hasPrefix .url "http" }}target="_blank"{{ end }}>{{ .label }}</a></li>
                {{- end }}
            </ul>
        </main>
    </div>
    <footer>
        <div class="container">
            &copy; 2025 Tobias Bengfort &middot;
            <a href="http://creativecommons.org/licenses/by-sa/4.0/" rel="license">CC-BY-SA-4.0</a> &middot;
            contribute on <a href="https://github.com/xi/datahorror/">github</a> <br>
            based on <a href="https://sites.google.com/vu.nl/datahorror/">Data Horror Escape Room</a> by Vrije Universiteit Amsterdam, Leiden University and Eindhoven University of Technology
        </div>
    </footer>
    {{ with resources.Get "riddles.js" -}}
        {{ with . | fingerprint -}}
            <script type="module" src="{{ .RelPermalink }}"></script>
        {{- end }}
    {{- end }}
</body>
</html>
