:root {
    font-family: sans-serif;
    line-height: 1.7;
}

img {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
}

blockquote {
    border-inline-start: 0.5em solid #aaa;
    margin-inline: 0;
    padding-inline-start: 0.7em;
    font-style: italic;
}

ul, ol {
    padding-inline-start: 1.5em;
}

body {
    background-color: #555550;
    color: #fff;
    padding: 0;
    margin: 0;
    min-block-size: 100vb;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

a {
    color: inherit;
}

.container {
    max-inline-size: 60rem;
    padding-inline: 1rem;
    margin-inline: auto;
}

header,
footer {
    background-color: #434340;
    padding-block: 1rem;
}

main .container {
    padding-block: 1rem 3rem;
}

footer {
    font-size: 90%;
}

header .container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

@media (min-width: 40rem) {
    header .container {
        flex-direction: row;
        gap: 2em;
        justify-content: space-between;
        align-items: center;
    }
}

.brand {
    font-size: 150%;
    line-height: 1;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 1.2em;
}

nav a {
    font-weight: bold;
    text-decoration: none;
}

.banner {
    margin: 0;
}

.banner img {
    inline-size: 100%;
    block-size: 20em;
    max-block-size: 33vb;
    object-fit: cover;
}

figure {
    position: relative;
}

figcaption {
    position: absolute;
    inset-inline-end: 0;
    inset-block-end: 0;
    padding-inline: 0.5em;
    padding-block: 0.1em;
    font-size: 90%;
    background-color: rgba(67,67,64,0.8);
    color: #fff;
}

.paths {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 1em;
    margin-block: 2em;
    padding: 0;
    list-style: none;
}

.paths a {
    display: block;
    background-color: #434340;
    padding-inline: 1em;
    padding-block: 0.5em;
    text-decoration: none;
}

.paths a:hover {
    background-color: #3f3f3f;
}

.pdf {
    inline-size: 100%;
    block-size: 80vb;
    margin-block-end: 1em;
    border: 0;
}
